body{
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

aside{
  background-color: #FDFCE8;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

h3{
  color: orangered;
}

h5{
  color #777777;
  font-size: 14px;
}

p{
  font-size: 16px;
  line-height: 1.4;
}